<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="GlowUp.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>GLOW UP</title>
    <link href="style.css" rel="stylesheet" />
    
</head>
<body>
    <div class="nav-bar">
        <a href="Home.aspx">Home</a>
        <a href="Gallery.aspx">Gallery</a>
        <a href="Special.aspx">Special</a>
        <a href="Cart.aspx">Cart <asp:Label ID="CartCountLabel" runat="server" /></a>
        <asp:HyperLink ID="SignInLink" runat="server" NavigateUrl="SignIn.aspx" Text="Sign In" />
        <asp:HyperLink ID="SignOutLink" runat="server" NavigateUrl="SignOut.aspx" Text="Sign Out" Visible="false" />


        
    </div>
  
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    <div>
     
    </div>
  
</body>
</html>
